[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output HDMI-A-1 --mode 1920x1080 --rate 59.96 --output eDP-1 --mode 1920x1080 --rate 59.96 --below HDMI-A-1'
OnlyShowIn=LXDE
